Doctype 
html
    head

        title= pageTitle
        link(
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            rel="stylesheet"
            )
    body(class="container-fluid")
        div(class="row justify-content-center")
            div(class="col-8")
                block content